In [10]:
import re

import matplotlib.pyplot as plt
# from nltk.corpus import stopwords
import numpy as np
import pandas as pd
import seaborn as sns
import spacy
import pt_core_news_lg

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

# stop_words = set(stopwords.words('english'))
nlp = pt_core_news_lg.load()

input_folder = "./data/"

In [2]:
df = pd.read_excel(input_folder+"news.xlsx")
df.head()

                                              Título Categoria
0  Em novo cronograma, Saúde reduz previsão de va...     Covid
1  Mudança ocorre principalmente na estimativa de...     Covid
2  Queiroga vê possível 3ª onda de Covid-19 e nec...     Covid
3  Ministro participou de audiência na Câmara. Te...     Covid
4  18 estados brasileiros registram mais mortes p...     Covid

In [8]:
df_mod = df.copy()
df_mod["Importante"] = np.where(df_mod["Categoria"]=="Covid", 1, 0)
df_mod["title_lower"] = df_mod["Título"].str.lower()
df_mod = df_mod[["title_lower", "Categoria", "Importante"]].copy()
df_mod.sample(10, random_state=42)

                                          title_lower  Categoria  Importante
46  prefeitura de sp inicia triagem para localizar...      Covid           1
16       ações ambev (abev3): saiba qual o preço hoje      Ambev           0
4   18 estados brasileiros registram mais mortes p...      Covid           1
9   a ambev está desenvolvendo uma máquina de refi...      Ambev           0
28  o governador de são paulo, joão doria (psdb), ...      Covid           1
41  sp: 77% da vítimas fatais da covid-19 não conc...      Covid           1
58  playstation trabalha em 'agentes' ia que vão j...  Videogame           0
5   dezoito estados brasileiros registraram mais m...      Covid           1
61  se você é fã do playstation, prepare-se para v...  Videogame           0
12  ambev, vivo, c&a e outras têm 2.000 vagas de e...      Ambev           0

In [14]:
# df_mod["Contem palavra Covid"] = np.where(df_mod["title_lower"]=="Covid", 1, 0)

txt = df_mod.loc[0, "title_lower"]
x = re.search(".*covid*", txt)
x

In [15]:
df_mod["covid"] = np.where(df_mod["title_lower"].str.contains("covid"), 1, 0)

df_mod.head()

,title_lower,Categoria,Importante,covid
0,"em novo cronograma, saúde reduz previsão de va...",Covid,1,1
1,mudança ocorre principalmente na estimativa de...,Covid,1,0
2,queiroga vê possível 3ª onda de covid-19 e nec...,Covid,1,1
3,ministro participou de audiência na câmara. te...,Covid,1,0
4,18 estados brasileiros registram mais mortes p...,Covid,1,1